Source: ros-hydro-apriltags
Section: misc
Priority: extra
Maintainer: Mitchell Wills <mwills@wpi.edu>
Build-Depends: debhelper (>= 9.0.0), libeigen3-dev, libv4l-dev, ros-hydro-catkin, ros-hydro-opencv2
Homepage: http://people.csail.mit.edu/kaess/apriltags/
Standards-Version: 3.9.2

Package: ros-hydro-apriltags
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libeigen3-dev, libv4l-dev, ros-hydro-opencv2
Description: A catkin version of the C++ apriltags library
